  <form id="translating-form" class="form-inline"role="form">
    <div id="word-field" class="form-group">
      <label class="sr-only" for="word-field-input">Word</label>
      <input type="text" id="word-field-input" class="form-control" placeholder="Enter world" autofocus>
    </div>
    <button type="submit" id="submit-form" class="btn btn-success">translate</button>
  </form>

  <div class="clearfix"></div>

  <div id="translated-word" class="row">

    <div class="col-md-4">
      <div class="text-center">
        <span class="big-text">мир</span>
      </div>
    </div>

    <div id="context-examples" class="col-md-4">
      <h4>
        <strong><em>Noun:</em></strong>
      </h4>
      <ul>
        <li>мир (world, peace, universe, kigdom)</li>
        <li>мир (world, peace, universe, kigdom)</li>
        <li>мир (world, peace, universe, kigdom)</li>
      </ul>
    </div>

    <div id="context-examples" class="col-md-4">
      <h4>
        <strong><em>Adjective:</em></strong>
      </h4>
      <ul>
        <li>мировой (world, global, worldwide)</li>
        <li>всемирный (world, worldwide, global)</li>
      </ul>
    </div>

    <div id="context-examples" class="col-md-12">
      <h4>
        <strong><em>Context:</em></strong>
      </h4>
      <ul>
        <li>I will destroy this world!</li>
        <li>Hello world</li>
      </ul>
    </div>

  </div>

  <div id="last-words">
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>Egnlish</th>
        <th>Russian</th>
        <th>Context</th>
      </tr>
      <tr class="success">
        <td>999</td>
        <td>world</td>
        <td>мир</td>
        <td>I will destroy world!</td>
      </tr>
      <tr>
        <td>998</td>
        <td>water</td>
        <td>вода</td>
        <td>I drank water!</td>
      </tr>
    </table>
  </div>

  <script type="text/javascript">
    (function () {
      var $container = $('.container'),
          $form = $('#translating-form'),

          $input = $form.find('#word-field-input'),
          $submit = $form.find('.btn');

      var inputWidth = $container.width() - $submit.width() - 40;
      $input.css('width', inputWidth);
    })();
  </script>