/*
 *= require_self
 */

 @import 'bootstrap';
 @import 'bootstrap/theme';

#translating-form input[type="submit"] {
  float: right;
}

#translated-word {
  background: $well-bg;

  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $well-border;

  margin: 20px 0;
  padding: 10px;
}

.big-text {
  font-size: 36px;
  font-weight: bold;
}

#context-examples ul {
  padding-left: 10px;
}

#last-words {
  margin-top: 50px;
}

#info-for-unauthorized-user {
  margin-top: 20px;
}

.temp {
  color: red;
}